<%- include('./partials/header.ejs') %>
    <div class="w-full h-screen bg-zinc-800 px-10 py-8 text-white">
        <div class="cards flex flex-wrap gap-10">
            <% posts.forEach(function(elem){ %>
                <div class="w-32">
                    <div class="card w-full h-40 bg-sky-200 rounded-lg object-cover overflow-hidden">
                        <img src="/images/uploads/<%= elem.image %>" class="w-full h-full object-cover 
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        rounded-lg">
                    </div>
                    <h3 class="mt-2 text-xl">
                        <%= elem.title %>
                    </h3>
                    <!-- <h6>
                        <%= elem.description %>
                    </h6> -->
                </div>
            <% }); %>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>